body {
    height: 100vh;
    background-color: rgb(82,80,75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.playground {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    border: 2px solid black;
    border-radius: 25px;
    justify-content: space-between;
    align-items: center;
}

.score-container {
    display: flex;
}

.score-box {
    border: 2px solid black;
    border-radius: 14px;
}

.message-container {
    border: 2px solid black;
    border-radius: 12;
}