body {
    height: 100vh;
    background-color: rgb(82,80,75);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;
}

.playground {
    background-color: white;
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 280px;
    border: 3px solid black;
    border-radius: 25px;
    justify-content:space-between;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 50px;
    margin-bottom: 65px;
}

.score-container {
    display: flex;
    gap: 20px;
}

.score-box {
    border: 2px solid black;
    border-radius: 14px;
    width: 124px;
    height: 45px;
    padding: 5px 0px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    gap: 8px;
    align-items: center;
}

.score-box > p {
    margin: 0;
}

.message-container {
    height: 80px;
    width: 220px;
    border: 2px solid black;
    border-radius: 12px;
    display: flex;;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

button {
    height: 28px;
    width: 78px;
    border: 2px solid black;
    border-radius: 6px;
    background-color: white;
    font-family: monospace;
}

button:hover {
  background-color: rgb(154,152,153);
}

button:active {
  box-shadow:
    inset -2px -2px 3px rgb(255 255 255 / 0.6),
    inset 2px 2px 3px rgb(80 74 15 / 0.6);
}

.message-container.highlight-red {
    border: 4px solid rgb(182, 53, 53);
    scale: 1.02;
}

.message-container.highlight-green {
    border: 4px solid rgb(51, 88, 26);
    scale: 1.02;
}